body {
  background-color: rgb(242, 239, 239);
}
.profile-page {
  overflow: visible;
}
.cover-photo {
  position: relative;
  width: 100vw;
  height: 47vh;
  background-image: url("/cover2.jpg");
  background-size: cover;
  background-position: center;
}

.profile-dp-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 68vh;
  border-radius: 2.5%;
  background-color: rgb(242, 239, 239);
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  overflow: visible;
  z-index: 1;
}

.profile-dp {
  position: absolute;
  display: flex;
  align-items: center;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: rgb(246, 216, 117);
  /* background-color: black; */
  /* background-image: url("/girl.jpg");
  background-position: center;
  background-size: cover; */
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  z-index: 2;
}
.user-initial {
  font-size: 6.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.dropdown {
  z-index: 100;
}

@media (max-width: 480px) {
  .profile-dp-container {
    top: 30%;
    width: 80vw;
    height: 60vh;
  }
  .profile-dp {
    top: 22%;
    width: 30vw;
    height: 30vw;
  }
  .user-initial {
    font-size: 4.2rem;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .cover-photo {
    height: 40vh;
  }
  .profile-dp-container {
    top: 25%;
    width: 70vw;
    height: 50vh;
  }
  .profile-dp {
    top: 18%;
    width: 20vw;
    height: 20vw;
  }
  .user-initial {
    font-size: 6.5rem;
  }
}

@media (min-width: 481px) and (max-width: 849px) {
  .profile-dp-container {
    top: 28%;
    transform: translateX(-50%);
    width: 86vw;
    height: 65vh;
  }
  .profile-dp {
    top: 18%;
    transform: translateX(-50%);
    width: 26vw;
    height: 26vw;
  }
}
