body {
  background-color: rgb(255, 255, 255);
}
.profile-page {
  overflow: visible;
}
.cover-photo {
  position: relative;
  width: 100vw;
  height: 47vh;
  background-image: url("/cover2.jpg");
  background-size: cover;
  background-position: center;
}

.profile-dp-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 46vw;
  height: 68vh;
  border-radius: 2.5%;
  background-color: rgb(239, 239, 230);
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  overflow: visible;
  z-index: 1;
}

.profile-dp {
  position: absolute;
  display: flex;
  align-items: center;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: rgb(251, 229, 157);
  /* background-color: black; */
  /* background-image: url("/girl.jpg");
  background-position: center;
  background-size: cover; */
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  z-index: 2;
}
.user-initial {
  font-size: 6.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  position: relative;
}
/* Edit button stays attached */
.user-profile-update-button {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.user-profile-update-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Name styling */
.user-name {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  width: 100%; /* take full width */
  max-width: 90%; /* small padding left/right */
  text-align: center; /* center text */
}
.user-info {
  z-index: 4;
  font-size: 1.1rem;
  font-weight: 520;
  position: absolute;
  top: 60%;
  left: 30%;
}
.dropdown {
  z-index: 100;
}

@media (max-width: 480px) {
  .profile-dp-container {
    top: 30%;
    width: 83vw;
    height: 54vh;
  }
  .profile-dp {
    top: 22%;
    width: 30vw;
    height: 30vw;
  }
  .user-initial {
    font-size: 4.2rem;
  }
  .user-profile-update-button {
    width: 5vw;
    height: 5vh;
    bottom: 5px;
    right: 5px;
  }
  .user-name {
    font-size: 1rem;
    font-weight: 600;
    top: 43%;
  }
  .user-info {
    font-size: 0.8rem;
    top: 50%;
    left: 15%;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .cover-photo {
    height: 40vh;
  }
  .profile-dp-container {
    top: 20%;
    transform: translateX(-50%);
    width: 85vw;
    height: 45vh;
  }
  .profile-dp {
    top: 13%;
    transform: translateX(-50%);
    width: 24vw;
    height: 24vw;
  }
  .user-initial {
    font-size: 4.6rem;
  }
  .user-profile-update-button {
    width: 4vw;
    height: 4vh;
    bottom: 11px;
    right: 11px;
  }
  .user-name {
    font-size: 1.6rem;
    font-weight: 600;
    top: 33%;
  }
  .user-info {
    font-size: 1.2rem;
    top: 40%;
    left: 15%;
  }
}
@media (min-width: 481px) and (max-width: 849px) {
  .profile-dp-container {
    top: 20%;
    transform: translateX(-50%);
    width: 85vw;
    height: 45vh;
  }
  .profile-dp {
    top: 13%;
    transform: translateX(-50%);
    width: 24vw;
    height: 24vw;
  }
  .user-initial {
    font-size: 4.6rem;
  }
  .user-profile-update-button {
    width: 4vw;
    height: 4vh;
    bottom: 11px;
    right: 11px;
  }
  .user-name {
    font-size: 1.6rem;
    font-weight: 600;
    top: 33%;
  }
  .user-info {
    font-size: 1.2rem;
    top: 40%;
    left: 15%;
  }
}
