body {
  background-color: rgb(255, 255, 255);
}
.profile-page {
  overflow: visible;
}
.cover-photo {
  position: relative;
  width: 100vw;
  height: 47vh;
  background-image: url("/cover2.jpg");
  background-size: cover;
  background-position: center;
}

.profile-dp-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 46vw;
  height: 68vh;
  border-radius: 2.5%;
  background-color: rgb(239, 239, 230);
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  overflow: visible;
  z-index: 1;
}

.profile-dp {
  position: absolute;
  display: flex;
  align-items: center;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: rgb(251, 229, 157);
  /* background-color: black; */
  /* background-image: url("/girl.jpg");
  background-position: center;
  background-size: cover; */
  box-shadow: 0 10px 10px rgb(157, 156, 156);
  z-index: 2;
}
.user-initial {
  font-size: 6.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  position: relative;
}
.user-profile-update-button {
  width: 2vw;
  height: 3vh;
  position: absolute;
  bottom: 14px;
  right: 14px;
  z-index: 4;
  cursor: pointer;
}

.user-profile-update-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-name {
  z-index: 4;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%; /* take full width */
  max-width: 90%; /* small padding left/right */
  text-align: center; /* center text */

  white-space: nowrap; /* prevent text from breaking */
  overflow: hidden; /* hide overflow */
  text-overflow: ellipsis;
}
.user-email {
  z-index: 4;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 60%;
  left: 30%;
}

.user-address {
  z-index: 4;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 64%;
  left: 30%;
}
.user-address-flat {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 68%;
  left: 31%;
}
.user-address-street {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 71.5%;
  left: 31%;
}
.user-address-city {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 75%;
  left: 31%;
}
.user-address-pincode {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 78.5%;
  left: 31%;
}
.user-address-phone {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 82.5%;
  left: 30%;
}
.user-address-active {
  z-index: 4;
  font-size: 1rem;
  font-weight: 530;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 86%;
  left: 30%;
}
.dropdown {
  z-index: 100;
}

@media (max-width: 480px) {
  .profile-dp-container {
    top: 30%;
    width: 83vw;
    height: 56vh;
  }
  .profile-dp {
    top: 22%;
    width: 30vw;
    height: 30vw;
  }
  .user-initial {
    font-size: 4.2rem;
  }
  .user-profile-update-button {
    width: 5vw;
    height: 5vh;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 4;
    cursor: pointer;
  }
  .user-name {
    font-size: 1rem;
    top: 43%;
  }
  .user-email {
    font-size: 0.8rem;
    top: 50%;
    left: 15%;
  }

  .user-address {
    font-size: 0.8rem;
    top: 54%;
    left: 15%;
  }
  .user-address-flat {
    font-size: 0.8rem;
    top: 57.5%;
    left: 16%;
  }
  .user-address-street {
    font-size: 0.8rem;
    top: 61%;
    left: 16%;
  }
  .user-address-city {
    font-size: 0.8rem;
    top: 64.5%;
    left: 16%;
  }
  .user-address-pincode {
    font-size: 0.8rem;
    top: 68%;
    left: 16%;
  }
  .user-address-phone {
    font-size: 0.8rem;
    top: 72%;
    left: 15%;
  }
  .user-address-active {
    font-size: 0.8rem;
    top: 75.5%;
    left: 15%;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .cover-photo {
    height: 40vh;
  }
  .profile-dp-container {
    top: 25%;
    width: 71vw;
    height: 58vh;
  }
  .profile-dp {
    top: 18%;
    width: 20vw;
    height: 20vw;
  }
  .user-initial {
    font-size: 6.2rem;
  }
  .user-profile-update-button {
    width: 3vw;
    height: 3vh;
    position: absolute;
    bottom: 9px;
    right: 9px;
    z-index: 4;
    cursor: pointer;
  }
  .user-name {
    font-size: 1.8rem;
    top: 36%;
  }
  .user-email {
    font-size: 1.3rem;
    top: 42%;
    left: 19%;
  }

  .user-address {
    font-size: 1.3rem;
    top: 46%;
    left: 19%;
  }
  .user-address-flat {
    font-size: 1.3rem;
    top: 49.5%;
    left: 20%;
  }
  .user-address-street {
    font-size: 1.3rem;
    top: 53%;
    left: 20%;
  }
  .user-address-city {
    font-size: 1.3rem;
    top: 56.5%;
    left: 20%;
  }
  .user-address-pincode {
    font-size: 1.3rem;
    top: 60%;
    left: 20%;
  }
  .user-address-phone {
    font-size: 1.3rem;
    top: 64%;
    left: 19%;
  }
  .user-address-active {
    font-size: 1.3rem;
    top: 67.5%;
    left: 19%;
  }
}

@media (min-width: 481px) and (max-width: 849px) {
  .profile-dp-container {
    top: 28%;
    transform: translateX(-50%);
    width: 86vw;
    height: 60vh;
  }
  .profile-dp {
    top: 18%;
    transform: translateX(-50%);
    width: 26vw;
    height: 26vw;
  }
  .user-initial {
    font-size: 4.5rem;
  }
  .user-profile-update-button {
    width: 4vw;
    height: 4vh;
    position: absolute;
    bottom: 9px;
    right: 9px;
    z-index: 4;
    cursor: pointer;
  }
  .user-name {
    font-size: 1.6rem;
    top: 41%;
  }
  .user-email {
    font-size: 1.3rem;
    top: 50%;
    left: 15%;
  }

  .user-address {
    font-size: 1.3rem;
    top: 54%;
    left: 15%;
  }
  .user-address-flat {
    font-size: 1.3rem;
    top: 57.5%;
    left: 16%;
  }
  .user-address-street {
    font-size: 1.3rem;
    top: 61%;
    left: 16%;
  }
  .user-address-city {
    font-size: 1.3rem;
    top: 64.5%;
    left: 16%;
  }
  .user-address-pincode {
    font-size: 1.3rem;
    top: 68%;
    left: 16%;
  }
  .user-address-phone {
    font-size: 1.3rem;
    top: 72%;
    left: 15%;
  }
  .user-address-active {
    font-size: 1.3rem;
    top: 75.5%;
    left: 15%;
  }
}
