body {
  background-color: rgb(255, 249, 249);
}
.profile-dp-container {
  position: relative;
  margin-top: 20vh;
  margin-left: 8vw;
  width: 22vw;
  height: 55vh;
  background-color: rgb(246, 107, 69);
  /* border-radius: 8%; */
  box-shadow: 0 8px 20px rgba(174, 171, 171, 0.678);
}

/* DP */
.profile-dp {
  position: absolute;
  top: 20%;
  left: 19%;
  transform: translate(-50%, -20%);
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-image: url("/photo.jpeg");
  background-size: cover;
  background-position: center;
  /*border: 2px solid black;*/
}

/* NAME */
.profile-name {
  position: absolute;
  top: 110%;
  left: 7%;
  font-size: 1.3rem;
  width:25vw;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.dropdown {
  z-index: 100;
}

/* ======================
   MOBILE: max-width 768px
   ====================== */
@media (max-width: 850px) {
  .profile-dp-container {
    width: 80vw;
    height: 70vh;
    margin-left: 10vw; /* centered-ish */
    margin-top: 18vh;
  }

  .profile-dp {
    width: 35vw;
    height: 35vw;
    top: 20%;
    left: 50%;
  }

  .profile-name {
    top: 110%;
    left: 70%;
    width: 50vw;
    font-size: 2.1rem;
  }
}

/* ======================
   SMALL MOBILE: max-width 480px
   ====================== */
@media (max-width: 480px) {
  .profile-dp-container {
    width: 80vw;
    height: 58vh;
    margin-left: 10vw; /* center even more */
    margin-top: 19vh;
  }

  .profile-dp {
    width: 45vw;
    height: 45vw;
    top: 25%;
    left: 50%;
  }

  .profile-name {
    top: 110%;
    left: 64%;
    width: 50vw;
    font-size: 1.2rem;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .profile-dp-container {
    margin-top: 10vh;
    width: 30vw;
    height: 55vh;
    max-height:300px;
    margin-left: 8vw;
  }

  .profile-dp {
    width: 16vw;
    height: 16vw;
    top: 12%;
    left: 23%;
  }

  .profile-name {
    top: 110%;
    left: 76%;
    width: 25vw;
    font-size: 1.1rem;
  }
}
