body {
  margin: 0;
  background-color: rgb(60, 60, 95);
}

.verify-email-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.verify-email-box {
  margin:0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  width: 35vw;
  height: 50vh;
  border: 2px solid black;
  background-color: rgb(255, 248, 248);
}
.email-verify {
  margin: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}
.verify-email-tab {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

.verify-email-tab input {
  width: 250px; /* increase input width */
  padding: 10px 14px; /* bigger padding */
  font-size: 16px; /* more readable text */
  border: 2px solid #888;
  border-radius: 6px; /* rounded edges */
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: rgb(227, 227, 224);
}

.verify-email-tab input:focus {
  border-color: #282829; /* nicer focus color */
  box-shadow: 0 0 5px rgba(73, 74, 75, 0.5);
}

.verify-now {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 28vw;
  padding: 2px 5px;
  color: white;
  border: solid rgb(72, 67, 67);
  background-color: #232737;
  box-shadow: 0 0 5px rgba(48, 48, 48, 0.5);
  cursor: pointer;
}
.verify-now:hover {
  background-color: rgb(17, 17, 48);
}

@media (max-width: 480px) {
  .verify-email-box {
    width: 80vw;
    height: 40vh;
  }
  .verify-now {
    width: 75vw;
    top: 53%;
  }
  .email-verify {
    width: 50vw;
    top: 34%;
  }
  .verify-email-tab {
    top: 40%;
  }
  .verify-email-tab input {
    width: 220px;
  }
}
@media (min-width: 481px) and (max-width: 849px) {
  .verify-email-box {
    width: 58vw;
    height: 40vh;
  }
  .verify-now {
    width: 50vw;
    top: 63%;
  }
  .email-verify {
    top: 46%;
  }
  .verify-email-tab {
    top: 52%;
  }
  .verify-email-tab input {
    width: 200px;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .verify-email-box {
    width: 50vw;
    height: 30vh;
  }
  .verify-now {
    width: 45vw;
    top: 38%;
  }
  .email-verify {
    top: 25%;
    font-size: 23px;
  }
  .verify-email-tab {
    top: 30%;
    font-size: 20px;
  }
  .verify-email-tab input {
    width: 200px;
  }
}
