.navbar {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(42, 41, 41);
  color: white;
  width: 100%;
  padding: 15px 20px;
  margin-top: 0px;
  box-sizing: border-box;
}
.logo {
  font-size: 20px;
}

.nav-links a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.nav-links a:hover {
  color: rgb(114, 169, 214);
}
